@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --font-sans: var(--font-inter);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
